---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /admin/

Sitemap: {{ (settings.sitemap_settings.url or settings.portfolio_url or "https://aimadulislam.dpdns.org") | replace(r/\/$/, "") }}/sitemap.xml

